<!DOCTYPE html>
<html lang="en">

<style>

.products{
    display: flex;
    flex-direction: row;
    align-items: center;
}


   header{
    text-align: right;
    padding-right: 160px;
    padding-top: 30px;
    font-size: 18px;
   }

   .prod_item{
   margin-right: 15px;
   }

  .prod_info{
   font-size: 20px;
   }


</style>


{% block head %}
<header>
    {% if request.user.is_authenticated %}
    <h3> You are logged in as - {{ request.user.username }}</h3>
    <a href="{% url 'currency_profile' %}"> Account </a>

    <a href="{% url 'currency_out' %}"> Log out </a>

    {% else %}
    <h3> You are not logged into our site </h3>
    <a href="{% url 'currency_registration' %}"> Register </a>
    <br>
    <a href="{% url 'currency_auth' %}"> Log in </a>
    {% endif %}
</header>

{% endblock %}



{% block page %}

{% if request.user.is_authenticated %}

    <h3> Current rates for {{ currencies.time }} </h3>
    <p> RUB : {{ currencies.RUB }}</p>
    <p> EUR : {{ currencies.EUR }}</p>
    <p> USD : {{ currencies.USD }}</p>

{% endif %}

<form id="form" class="p-3" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <div>
            {{ currency_form.source_currency_value }}
        </div>
        <div>
            {{ currency_form.source_currency_code }}
        </div>
        <div>
            {{ currency_form.target_currency_code }}
        </div>
    </div>
    {% if converted_currency %}
    <div>
        <div>
            <h5>Converted amount</h5>
                <h5>from <b>{{currency_form.source_currency_code.value}}</b> to
                    <b>{{currency_form.target_currency_code.value}}</b></h5>
        </div>
        <div>
            {{converted_currency}}
        </div>

    </div>
    {% endif %}



    <div class="form-footer text-center">
        <input id="submit" type="submit" value="Convert" />
    </div>

</form>


{% endblock %}

</html>
