{% extends "currency/currency.html" %}

{% block page %}


<style>
   .purch{
    display: flex;
    flex-direction: row;
   }

</style>


<body>
<h1>
    My profile
</h1>

<h2>
    <a href=" {% url 'currency' %} "> Back to main </a>
</h2>

<p> Username :{{ user_profile.user.username }}</p>
<p> First Name : {{ user_profile.user.first_name }}</p>
<p> Last name : {{ user_profile.user.last_name }}</p>
<h3> Your convert history</h3>

{% for hist in history %}
    <div class="purch">
        <p> Time of convert ---  {{hist.time}} </p>
        <p> {{hist.source_amount}} </p>
        <p> {{hist.source_money}} = </p>
        <p> {{hist.target_amount}}  </p>
        <p> {{hist.target_money}}  </p>
    </div>
{% endfor %}

</body>
{% endblock %}
